body{
  width: 100%;
  height: 100vh;
  background: #f4f4f4;
}

h1{
  color: #ead8d8;
  font-size: 100px;
  padding: 0;
  margin: 0;
}

#root{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.add__text{
  width: calc(100% - 20px);
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-bottom: 2px solid #f4f4f4;
}

.add__text input{
  background: #fff;
  border: none;
  padding: 10px;
  
}

.add__text input#text{
  width: 100%;
}

input#text::placeholder{
  color: #e6e6e6;
}

.root__items{
  width: 80%;
  display: flex;
  flex-direction: column;
}


.list,
.list__nav {
  display: flex;
  flex-direction: column;
  background: #fff;
}

.list__items,
.list__nav{
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #f4f4f4;
  padding: 0 10px;
}

.list__items p{
  width: 95%;
  text-align: left;
  padding-left: 20px;
}

p.list__text.active{
  text-decoration: line-through;
  color: #e6e6e6;
}

.nav__tab{
  display: flex;
}

.nav__tab a{
  text-decoration: none;
  margin: 0 10px;
}

.list__items button{
  width: 5%;
  opacity: 0;
  border: none;
}

.list__items:hover button{
  opacity: 1;
  transition: .5s;
  background: transparent;
}

.list__items:hover button::before{
  content: "\2718";
  color: red;
  cursor: pointer;
  font-size: 20px;
}

.nav__right button, 
.nav__tab button{
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.nav__tab button{
  margin: 0 10px;
}

.nav__right button:hover,
.nav__tab button:hover,
.nav__right button:focus,
.nav__tab button:focus{
  border: 1px solid #050404;
  transition: .5s;
}

.list__nav{
  box-shadow: /* Тень верхнего слоя */
  0 1px 1px rgba(0,0,0,0.15),
  /* Второй слой */
  0 10px 0 -5px #f4f4f4,
  /* Тень второго слоя */
  0 10px 1px -4px rgba(0,0,0,0.15),
   /* Третий слой */
  0 20px 0 -10px #f4f4f4,
  /* Тень третьего слоя */
  0 20px 1px -9px rgba(0,0,0,0.15);;
}





.list__items input[type="checkbox"],
.add__text input[type="checkbox"]{
  position: absolute;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
}

input[type="checkbox"] + label{
  vertical-align: top;
  cursor: pointer;
}

input[type="checkbox"] + label{
  width: 25px;
  height: 25px;
}

input[type="checkbox"] + label::before{
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0;
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
}

.add__text input[type="checkbox"] + label::before{
  content: "\2713";
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0;
  border: none;
}

input[type="checkbox"] + label::before {
  background-color:#fff;
}
input[type="checkbox"]:checked + label::before {
  content: "\2713";
  color: green;
background-color:#fff;
}  


/*   ==================    Media     ==================    */

@media (min-width: 481px) and (max-width: 767px) {
  h1{
    font-size: 60px;
  }
  p.list__text,
  .list__nav p, 
  .nav__right button, 
  .nav__tab button{
    font-size: 10px;
  }
  .nav__right button, 
  .nav__tab button{
    padding: 0 5px;
  }
  .list__items:hover button::before{
    font-size: 14px;
  }
  input[type="checkbox"] + label{
    width: 20px;
    height: 20px;
  }
  
  input[type="checkbox"] + label::before{
    height: 16px;
    width: 16px;
    font-size: 14px;
  }
}

@media (min-width: 300px) and (max-width: 481px) {
  h1{
    font-size: 40px;
  }
  p.list__text,
  .list__nav p, 
  .nav__right button, 
  .nav__tab button{
    font-size: 6px;
  }
  input#text{
    font-size: 10px;
  }
  .list__items:hover button::before{
    font-size: 12px;
  }
}




